<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>coffee.io | User Profile</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <a href="/index"><img src="img/mug.png" title="Home" alt="mug clicked takes you to home page"></a>

            </div>
            <nav>
                <u1>
                    <li><a href="/order">Start an Order</a></li>
                </u1>
            </nav>
        </div>
    </header>

    <div class="form-user">
        <form action="/updateuser" method="post">
            <h1>User Profile</h1>
            <img src= "./img/profile.png"><br>
            <input type="text" name = "userID" value="<%= userdata.userID %>" hidden />
            <label>First name:</label>&nbsp;<input type="text" name="fname" value="<%= userdata.firstname %>" placeholder=<%= userdata.firstname %>><br>
            <label>Last name:</label>&nbsp;<input type="text" name="lname" value="<%= userdata.lastname %>" placeholder="<%= userdata.lastname %>"><br>
            <label>Username:</label>&nbsp;<input type="text" name="username" value=<%= userdata.username %> placeholder="davio606"><br>
            <label>Email:</label>&nbsp;<input type="email" name="email" disabled placeholder=<%= userdata.email %>><br>
            <label>Phone Number:</label>&nbsp;<input type="phone" name="phone" value="<%= userdata.phone %>" placeholder=<%= userdata.phone %>><br>
            <label> Address Street:</label>&nbsp;<input type="text" name="address_street" value="<%= userdata.address_street %>" placeholder="<%= userdata.address_street %>"><br>
            <label> Address Zip Code:</label>&nbsp; <input type="text" name="address_zip" value="<%= userdata.address_zipcode %>" placeholder=<%= userdata.address_zipcode %>><br>
            <input type="submit" value="Save Changes!">
        </form>
    </div>
</body>

</html>